@charset "utf-8";
@import "~bulma/bulma.sass";

$margin-footer: 80px;
$footer-padding: 2rem 1.5rem;
$tabs-border-bottom-color: transparent;
$tabs-border-bottom-style: none;
$tabs-border-bottom-width: 0;
$tabs-link-padding: 0.5em 0.5em;
$bg-white: #ffff;
$txt-color: hsl(0, 0%, 7%);
$cat-color: hsl(171, 100%, 41%);
$tite-color: hsl(0, 0%, 21%);
$title-size: 3.5rem;
$title-weight: 700;
$title-line-height: 1.2;
$subtitle-size: 1.8rem;
$meta-color: #707080;

a {
    transition-duration: .3s;

    &:hover {
        color: $cyan;
        transition-duration: .3s;
        text-decoration: underline;
    }
}

p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: $txt-color;
}

.is-size-0 {
    font-size: 4.1rem !important;
}

.services-title {
    margin-bottom: 15px !important;
    font-size: 1.25rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    font-weight: 700 !important;
}

.tabs {
    .social-tabs {
        border-bottom-color: $tabs-border-bottom-color;
        border-bottom-style: $tabs-border-bottom-style;
        border-bottom-width: $tabs-border-bottom-width;
        font-size: 1.12rem;
        position: absolute;
        bottom: 0;
        right: 0;

        li {
            padding: $tabs-link-padding;

            a {
                border-bottom-color: $tabs-border-bottom-color;
                border-bottom-style: $tabs-border-bottom-style;
                border-bottom-width: $tabs-border-bottom-width;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.navbar-blog {
    position: relative;
    background: $bg-white;
    width: 100%;

    .navbar-body {
        border-bottom: 1px solid hsl(0, 0%, 86%);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 3;
        justify-content: space-between;
        align-items: flex-end;
        align-content: center;
        padding: 15px 0;

        .navbar-arrow-left {
            width: 33%;
        }

        .navbar-arrow-right {
            width: 33%;
        }

        .navbar-blog-brad {
            width: 33%;
        }
    }
}

.blog-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: $txt-color;

    &:hover {
        text-decoration: none;
    }
}

.arrow-fix {
    position: relative;
    top: 4px;
    color: $txt-color;
}

.post-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    .category-title {
        h3 {
            display: inline-block;
            font-size: 1.3rem;
            font-weight: 900;
            color: $cat-color;
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
            letter-spacing: 1px;
        }
    }

    article {
        padding: 15px 0;

        .date {
            font-weight: 600;
            font-size: .8em;
            letter-spacing: 1px;
            color: $meta-color;
            text-transform: uppercase;
        }

        .category {
            margin-left: 10px;
        }

        .post {
            .post-title {
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: 1px;
                color: $tite-color;
            }
        }

        .date-date {
            font-weight: 600;
            font-size: .8em;
            letter-spacing: 1px;
            color: $meta-color;
        }

        .date-dash {
            padding: 0 8px;
            color: $cat-color;
        }
    }
}

.post-content {
    display: block;
    max-width: 44rem;
    margin: 8rem auto 0 auto;
    padding: 0 30px;

    .title {
        color: hsl(0, 0%, 7%);
        font-weight: $title-weight;
        line-height: $title-line-height;
        letter-spacing: 1px;
    }

    .is-1 {
        font-size: $title-size;
    }
    
    .subtitle {
        font-style: italic;
        margin-top: 0 !important;
    }

    .is-3 {
        font-size: $subtitle-size;
    }

    .meta-post {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 1.5rem;
        border-top: 1px solid hsl(0, 0%, 86%);
        border-bottom: 1px solid hsl(0, 0%, 86%);
        padding: 20px 1px;

        span {
            font-weight: $title-weight;
            text-transform: uppercase;
            color: $tite-color;
            letter-spacing: 1px;
        }

        .separator {
            position: relative;
            margin: 0 20px;

            &::after {
                content: '|';
                position: absolute;
                font-weight: 100;
                color: hsl(0, 0%, 86%);
            }
        }
    }
}

.footer {
    margin-top: $margin-footer;
    padding: $footer-padding !important;

    .copy {
        font-size: 1rem;
    }

    .tabs {
        .footer-tabs {
            border-bottom-color: $tabs-border-bottom-color;
            border-bottom-style: $tabs-border-bottom-style;
            border-bottom-width: $tabs-border-bottom-width;

            li a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer-name {
    &:hover {
        text-decoration: underline;
    }
}