@charset "utf-8";
@import "~bulma/bulma.sass";

$margin-footer: 100px;
$footer-padding: 2rem 1.5rem;
$tabs-border-bottom-color: transparent;
$tabs-border-bottom-style: none;
$tabs-border-bottom-width: 0;
$tabs-link-padding: 0.5em 0.5em;
$bg-white: #ffff;
$txt-color: hsl(0, 0%, 7%);
$cat-color: hsl(171, 100%, 41%);
$tite-color: hsl(0, 0%, 21%);
$title-size: 3.5rem;
$title-weight: 700;
$title-line-height: 1.2;
$subtitle-size: 1.7rem;
$meta-color: #707080;
$content-color: #444;

a {
    transition-duration: .3s;

    &:hover {
        color: $cyan;
        transition-duration: .3s;
        text-decoration: underline;
    }
}

p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: $txt-color;
}

.is-size-0 {
    font-size: 4.1rem !important;
}

.services-title {
    margin-bottom: 15px !important;
    font-size: 1.25rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    font-weight: 700 !important;
}

.tabs {
    .social-tabs {
        border-bottom-color: $tabs-border-bottom-color;
        border-bottom-style: $tabs-border-bottom-style;
        border-bottom-width: $tabs-border-bottom-width;
        font-size: 1.12rem;
        position: absolute;
        bottom: 0;
        right: 0;

        li {
            padding: $tabs-link-padding;

            a {
                border-bottom-color: $tabs-border-bottom-color;
                border-bottom-style: $tabs-border-bottom-style;
                border-bottom-width: $tabs-border-bottom-width;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.header-blog {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
}


.navbar-blog {
    position: relative;
    background: $bg-white;
    width: 100%;
    padding: 0 30px;

    .navbar-body {
        border-bottom: 1px solid hsl(0, 0%, 86%);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 3;
        justify-content: space-between;
        align-items: flex-end;
        align-content: center;
        padding: 15px 0;

        .blog-name {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: 1px;
            color: $txt-color;
        
            &:hover {
                text-decoration: none;
            }
        }

        .bread {
            color: $meta-color;
            font-weight: 500;
        }

        .sep {
            color: $meta-color;
            padding: 0 7px;
            font-weight: 500;
        }

        .arrow-fix {
            position: relative;
            top: 4px;
            color: $txt-color;
        }

        .navbar-arrow-left {
            width: 20%;
        }

        .navbar-arrow-right {
            width: 20%;
        }

        .navbar-blog-brad {
            width: 60%;
        }
    }
}

.container {
    min-height: 100%;
}

.post-list {
    max-width: 800px;
    margin: 5rem auto 0 auto;
    padding: 30px;

    .category-title {
        h3 {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 900;
            color: $cat-color;
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
            letter-spacing: 1px;
        }
    }

    article {
        padding: 15px 0;

        .date {
            font-weight: 600;
            font-size: .8em;
            letter-spacing: 1px;
            color: $meta-color;
            text-transform: uppercase;
        }

        .category {
            margin-left: 10px;
        }

        .post {
            .post-title {
                font-weight: 500;
                font-size: 1.1rem;
                letter-spacing: 1px;
                color: $tite-color;
            }
        }

        .date-date {
            font-weight: 600;
            font-size: .8em;
            letter-spacing: 1px;
            color: $meta-color;
        }

        .date-dash {
            padding: 0 8px;
            color: $cat-color;
        }
    }
}

.post-content {
    display: block;
    max-width: 44rem;
    margin: 13rem auto 0 auto;
    padding: 0 10px;

    .title {
        color: hsl(0, 0%, 7%);
        font-weight: $title-weight;
        line-height: $title-line-height;
        letter-spacing: 1px;
        margin: 0;
    }

    .is-1 {
        font-size: $title-size;
    }
    
    .subtitle {
        font-style: italic;
        margin: 0;
        
        p {
            font-size: $subtitle-size;
            color: $meta-color;
            margin: 2rem 0;
        }
    }

    .meta-post {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 2rem;
        border-top: 1px solid hsl(0, 0%, 86%);
        border-bottom: 1px solid hsl(0, 0%, 86%);
        padding: 20px 1px;

        span {
            font-weight: $title-weight;
            text-transform: uppercase;
            color: $tite-color;
            letter-spacing: 1px;
        }

        a {
            padding-right: 10px;
            color: $tite-color;
        }

        .separator {
            position: relative;
            margin: 0 20px;

            &::after {
                content: '|';
                position: absolute;
                font-weight: 100;
                color: hsl(0, 0%, 86%);
            }
        }
    }

    .thumbnail {
        margin-bottom: 2rem;

        img {
            border-radius: 3px;
        }
    }

    .cnt {
        padding: 0 30px;

        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
            letter-spacing: .5px;
            margin: 1.1em 0;
            font-size: 1.6em;
        }

        p {
            letter-spacing: .5px;
            margin-bottom: 1.1em;
            color: $content-color;
        }

        p:first-of-type {
            font-size: 1.6em;
            color: $txt-color;
        }

        strong, b {
            background: ivory;
        }

        pre {
            color: #e3e3f5;
            background: #303048;
            border-radius: 3px;
            margin: 18px 0;
        }

        img {
            margin: 10px 0;
            border-radius: 3px;
        }

        ul, ol {
            margin-top: 1.3em;
            margin-bottom: 1.3em;

            li {
                font-size: 1.1rem;
                color: $content-color;
                margin-bottom: 1em;
            }
        }

        blockquote {
            font-style: italic;
            font-size: 1rem;
        }
    }

    .post-footer {
        margin-top: 3rem;
        padding: 30px;
        border-radius: 3px;
        box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
        letter-spacing: .5px;
        
        span {
            font-weight: 500;
        }

        a {
            font-size: 1.1rem;
        }

        svg {
            position: relative;
            top: 3px;
        }
    }
}

.post-pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: $margin-footer;
    padding: 0 30px;

    div {
        width: 50%;
        text-align: center;

        .item {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 30px 10px;
            font-size: 1.5rem;
            letter-spacing: .5px;

            &:hover {
                transition-duration: .3s;
                text-decoration: none;
                color: #718096;
                background: hsl(0, 0%, 96%);
            }

            svg {
                position: relative;
                top: 5px;
                margin: 0 5px;
            }
        }
    }
}

.list-description {
    max-width: 800px;
    margin: 4rem auto;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
    letter-spacing: .5px;

    p {
        font-size: 1.1rem;
    }

    a {
        font-size: 1.1rem;
    }

    svg {
        position: relative;
        top: 3px;
    }

    span {
        font-weight: 500;
    }
}

.footer {
    margin-top: $margin-footer;
    padding: $footer-padding !important;

    .copy {
        font-size: 1rem;
    }

    .tabs {
        .footer-tabs {
            border-bottom-color: $tabs-border-bottom-color;
            border-bottom-style: $tabs-border-bottom-style;
            border-bottom-width: $tabs-border-bottom-width;

            li a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer-name {
    &:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 769px) {

}

@media only screen and (max-width: 1024px) {

}